[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sanic = "*"
asyncpg = "*"
ipython = "*"
aioredis = "*"


[dev-packages]

"flake8" = "*"
isort = "*"
aoiklivereload = "*"
pytest = "*"
pdbpp = "*"
fabricio = "*"
"psycopg2-binary" = "*"
redis = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-sanic = "*"
