[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Sanic = "*"
asyncpg = "*"
ipython = "*"
aioredis = "*"


[dev-packages]

"flake8" = "*"
isort = "*"
AoikLiveReload = "*"
pytest = "*"
pdbpp = "*"
fabricio = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-sanic = "*"
